<template>
  <div id="app">
    <blink><h2>Hello blink</h2></blink>
    <img alt="Vue logo" src="./assets/logo.png">
    <h1>Welcome to Your Vue.js App</h1>
  </div>
</template>

<script>
import Blink from "./components/Blink";
export default {
  components: {
    Blink
  }
}
</script>
